.prof__email {
  font-weight: 700;
  font-style: italic;
}

.prof__headitem {
  margin-bottom: 1rem;
  border-bottom: 1px dotted var(--base-color);
}

.prof__rolescontainer {
  border: 1px dotted var(--dark-color);
  margin-top: 1rem;
  margin-bottom: 1rem;
  position: relative;
  padding-inline: 5px;
}

.prof__rolescontainer::after {
  content: 'Roles';
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -0.75rem);
  background-color: var(--white-color);
  font-weight: 700;
  padding-inline: 5px;
  color: var(--dark-color);
}

.formlabel {
  width: 100px;
}

.prof__modalcontainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.prof__modaltitle {
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 1rem;
  text-align: center;
  border-bottom: 3px double var(--dark-color);
}

.prof__modalmessage {
  font-style: italic;
  margin-bottom: 1rem;
}
