.ib__container {
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: center;
}

.ib__icon {
  width: 16px;
  height: auto;
}

.ib__name {
  flex: 1;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
