.pw__item {
  display: flex;
  flex-direction: row;
  gap: 5px;
  margin-bottom: 5px;
}

.pw__item:nth-child(even) {
  background-color: var(--light-color-faded);
}

.pw__item:nth-child(odd) {
  background-color: var(--light-accent-faded);
}

.pw__itemlabel {
  flex: 0;
  text-align: left;
  font-style: italic;
  margin-right: 10px;
}

.pw__itemvalue {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  text-align: right;
  font-weight: 700;
}

.pw__categorytitle {
  display: flex;
  gap: 5px;
  align-items: center;
}
