.psw__container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  border: 1px solid var(--dark-color);
  border-radius: 5px;
  margin-top: 1rem;
  cursor: pointer;
  overflow: hidden;
}

.psw__line1 {
  display: flex;
  flex-flow: row;
  gap: 10px;
  align-items: flex-start;
  width: 100%;
  border-bottom: 1px dotted var(--black-color);
}

.psw__line2 {
  font-style: italic;
  margin-inline: 10px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.psw__price {
  font-weight: 700;
  flex: 1;
  text-align: right;
  margin-right: 5px;
}

.psw__normal {
  color: var(--normal-price-color);
}

.psw__onsale {
  color: var(--onsale-price-color);
}
